<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
  Nakon što unesete vaš broj mobilnog, dobićete sms pin kod.
  </div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="msisdn">Broj mobilnog telefona:</label>
          <input  type="number" formControlName="msisdn" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && form.msisdn.errors }"/>
          <div *ngIf="submitted && form.msisdn.errors" class="invalid-feedback">
            <div *ngIf="form.msisdn.errors.required">Obavezan unos vašeg mobilnog broja</div>
            </div>
        </div>
        <div *ngIf="isErrorOccurred" class="errorColor">
          <h4>{{errorMsg}}</h4>
        </div>

        <mat-icon (click)="onSubmit()" class="saveBtn">check_circle</mat-icon>
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <div class="back">
          <mat-icon (click)="back()" title="Nazad" class="back">arrow_back</mat-icon>
        </div>

      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>

