<!-- Footer -->
<br><br>
<footer class="page-footer font-small">

<!--
  <div style="background-color:#158394">
    <div class="container">

      &lt;!&ndash; Grid row&ndash;&gt;
      <div class="row py-4 d-flex align-items-center">

        &lt;!&ndash; Grid column &ndash;&gt;
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h4 class="mb-0">Kontaktirajte nas na socijalnim mrežama!</h4>
        </div>
        &lt;!&ndash; Grid column &ndash;&gt;

        &lt;!&ndash; Grid column &ndash;&gt;
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          &lt;!&ndash; Facebook &ndash;&gt;
          <a class="fb-ic" href="https://www.facebook.com/Razvojni-centar-Tesli%C4%87-101231261785468/" target="_blank">
            <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
          </a>
          &lt;!&ndash; Twitter &ndash;&gt;
          <a class="tw-ic" href="https://www.facebook.com/Razvojni-centar-Tesli%C4%87-101231261785468/" target="_blank">
            <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
          </a>
          &lt;!&ndash; Google +&ndash;&gt;
          <a class="gplus-ic" href="https://www.facebook.com/Razvojni-centar-Tesli%C4%87-101231261785468/" target="_blank">
            <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
          </a>
          &lt;!&ndash;Linkedin &ndash;&gt;
          <a class="li-ic" href="https://www.facebook.com/Razvojni-centar-Tesli%C4%87-101231261785468/" target="_blank">
            <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
          </a>
          &lt;!&ndash;Instagram&ndash;&gt;
          <a class="ins-ic" href="https://www.facebook.com/Razvojni-centar-Tesli%C4%87-101231261785468/" target="_blank">
            <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
          </a>

        </div>
        &lt;!&ndash; Grid column &ndash;&gt;

      </div>
      &lt;!&ndash; Grid row&ndash;&gt;
    </div>
  </div>

  &lt;!&ndash; Footer Links &ndash;&gt;
  <div class="container text-center text-md-left mt-5">

    &lt;!&ndash; Grid row &ndash;&gt;
    <div class="row mt-3 dark-grey-text">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        &lt;!&ndash; Links &ndash;&gt;
        <h3 class="text-uppercase font-weight-bold">Kontakt: </h3>

      </div>

      &lt;!&ndash; Grid column &ndash;&gt;
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        &lt;!&ndash; Content &ndash;&gt;
        <h3 class="font-weight-bold">
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon><br>
          Teslić, Nova 4, bb
        </h3>

      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
         <h3 class="font-weight-bold">
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon><br>
          066 86 00 53
        </h3>

      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <h3 class="font-weight-bold">
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>rcteslic@gmail.com</h3>

      </div>

    </div>

  </div>
  &lt;!&ndash; Footer Links &ndash;&gt;
-->

  <!-- Copyright -->
<!--  <div class="footer-copyright text-center text-black-50 py-3">© 2022 Sva prava zadržava:
    <a href="https://rc-teslic.com/#/" class="dark-grey-text">Razvojni Centar Teslić</a>
  </div>-->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Created by RC-Teslić: <i class="fab fa-java"></i> +  <i class="fab fa-angular"></i>
  </div>-->
</footer>
<!-- Footer -->
