<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    Zadatak: <strong>{{task.title}}</strong>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <strong>Opis: <br></strong>
        <div [innerHTML]="task.description"></div>
      </div>
      <hr>
      <div class="form-group">
        <strong>Zadužena Osoba: </strong> {{task.username}}
      </div>
      <hr>
      <div class="back">
        <mat-icon (click)="back()" title="Nazad" class="back">arrow_back</mat-icon>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
