<br>
<div class="alert alert-info">
  Pregled svih registrovanih radnika!
</div>

<div class="container">
  <div class="table-responsive">

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input
            type="text"
            [(ngModel)]="searchText"
            class="form-control"
            id="search"
            mdbInput
          />
          <label for="search">Pronadji radnika</label>
        </div>
      </div>
    </div>
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
      <thead class="table-info">
      <tr>
        <th [mdbTableSort]="users"></th>
        <th [mdbTableSort]="users" class="tableHeadInButton" sortBy="firstName" >IME
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
        <th [mdbTableSort]="users" class="tableHeadInButton" sortBy="lastName">PREZIME
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
        <th [mdbTableSort]="users" class="tableHeadInButton" sortBy="username">MOBILNI
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
        <th [mdbTableSort]="users" class="tableHeadInButton" sortBy="role">Uloga
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th *ngIf="i+1 >= pagination.firstItemIndex && i < pagination.lastItemIndex"
            scope="row">{{i + 1}}</th>
        <td *ngIf="i+1 >= pagination.firstItemIndex && i < pagination.lastItemIndex">{{user.firstName}}</td>
        <td *ngIf="i+1 >= pagination.firstItemIndex && i < pagination.lastItemIndex">{{user.lastName}}</td>
        <td *ngIf="i+1 >= pagination.firstItemIndex && i < pagination.lastItemIndex">{{getMsisdn(user.username)}}</td>
        <td *ngIf="i+1 >= pagination.firstItemIndex && i < pagination.lastItemIndex">{{apropriateUserRole(user.role)}}</td>
        <td *ngIf="i+1 >= pagination.firstItemIndex && i < pagination.lastItemIndex">


          <mat-icon *ngIf="isAdmin()" (click)="edit(user)" class="edit"
                    title="Edituj radnika">edit</mat-icon>

          <mat-icon *ngIf="isAdmin()"  (click)="delete(user)" class="delete"
                    title="Obrisi radnika">delete</mat-icon>
        </td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-0 w-100">
        <tr>
          <td colspan="6">
            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="users"></mdb-table-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="back">
  </div>
</div>
<app-footer></app-footer>
