<div class="container">
  <section class="my-5">

    <main class="text-center">
      <h1 class="font-weight-bold text-center">MAGACIN</h1>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 55px;">
    </main>

    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Osnovna verzija praćenja stanja vašeg magacina, brzi pregled,
      dostupno na svakom mjestu gdje imate internet</p>
    <div class="row">

      <div class="col-lg-6">

        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="book" size="2x" class="cyan-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h3 class="font-weight-bold mb-3">TRENUTNE FUNKCIONALNOSTI</h3>
            <span class="grey-text">
            <ul>
              <li>ADMINISTRATOR ima:<ul>
                <li>uvid u sve registrovane radnike </li>
                <li>uvid u sve unesene proizvode</li>
                 <li>mogucnost dodavanja novog radnika</li>
                <li>mogucnost brisanja radnika</li>
                <li>mogucnost editovanja radnika</li>
                <li>mogučnost dodavanja proizvoda</li>
                <li>mogucnost brisanja proizvoda</li>
                <li>mogučnost editovanja proizvoda
                </li>
                </ul></li>
              <li>RADNIK ima:<ul><li>pregled proizvoda</li></ul> </li></ul>
             </span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="chart-line" size="2x" class="red-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h3 class="font-weight-bold mb-3">PLAN ZA NAREDNI KORAK</h3>
            <span class="grey-text"><ul><li>
              Napraviti SUPERUSER-a kojem će svakodnevno stizati na mail izvještaji u excel o novim unosima za taj dan,
            ali i cjelokupnom stanju u magacinu i na taj način osigurati podatke u slučaju pada sistema</li>
              <li>Ukupna cjena proizvoda u skaldištu</li>
              <li>Uvesti novo polje, broj komada nekog proizvodu. Pa bi podred osadašnjih polja("tip", "opis", "cjena") imali i "broj komada" datog proizvoda</li>
              <li>Uvesti dodatno polje "godina proizvodnje"</li>
              <li>Preciznija pretraga po poljima u tabeli. Primjer: unese se Golf Blatobran 2001, a aplikacija izlista samo odgovarajuće rezultate</li>
            </ul>

            </span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="code" size="2x" class="red-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h3 class="font-weight-bold mb-3">TEHNOLOGIJE:</h3>
            <span class="grey-text"><ul><li>Baza podataka: MySQL</li> <li>Backend: Spring Boot</li><li>Frontend: Angular</li></ul>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1 col-2">
            <mdb-icon far icon="cloud" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h3 class="font-weight-bold mb-3">LOKACIJA</h3>
            <p class="grey-text mb-0">
              Baza podataka se nalazi na linux serveru od Digital Ocean-a, kao i backend service, dok je frontend na
              free serveru za angular: firebase</p>
          </div>
        </div>

      </div>
      <div class="col-lg-6 map">
        <img
          src="https://ncst.rs/wp-content/uploads/2020/07/photo_1523740244.jpg"
          class="img-fluid "
          alt="Responsive image">
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
