<div class="navColor">

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/tasks'">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
        </li>

        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/users'" *ngIf="isAdmin">
            <mat-icon>people</mat-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/addUser'" *ngIf="isAdmin">
            <mat-icon>person_add</mat-icon>
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/addTask'" *ngIf="isAdmin">
            <mat-icon>note_add</mat-icon> </a>
        </li>
        <!--    <a class="nav-item nav-link" (click)="logout()">Logout</a>-->

      </ul>
    </a></mdb-navbar-brand>
    <!-- Collapsible content -->
    <!--    <links>

          <ul class="navbar-nav mr-auto">  &lt;!&ndash; Links
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/'">POČETNA</a>
            </li>&ndash;&gt;
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/users'"*ngIf="isAdmin"><i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/addUser'"*ngIf="isAdmin">
                <i class="fas fa-user-plus"></i> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/tasks'"><i class="fas fa-cogs"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/addTask'" *ngIf="isAdmin">
                <mdb-icon fas icon="plus"></mdb-icon><i class="fas fa-cog"></i></a>
            </li>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>

          </ul>
        </links>-->
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
</div>
